* {
  font-family: arial, helvetica, sans-serif;
}

.formLog,
.formReg {
  margin: auto;
  margin-top: 100px;
  width: 450px;
  height: 400px;
  display: flex;
  flex-direction: column;
}

.formReg {
  height: 600px;
}

.signInButton {
  width: 350px;
  padding: 14px;
  background-color: black;
  border: none;
  color: white;
  margin: auto;
  margin-top: 30px;
  font-size: 12px;
  cursor: pointer;
}

.staticTextOne,
.staticTextTwo,
.staticTextThree,
.staticTextFour {
  text-align: left;
  font-size: 12px;
  color: rgb(75, 73, 73);
  padding: 10px 10px 10px 50px;
}

.staticTextOne {
  font-size: 24px;
  color: rgb(63, 60, 60);
  padding-bottom: 20px;
}

.staticTextTwo {
  padding-left: 52px;
  padding-right: 50px;
}

.staticTextThree {
  text-decoration: underline;
  cursor: pointer;
}

.staticTextFour {
  padding-left: 45px;
}

.checkBox:checked::after {
  background-color: black;
  cursor: pointer;
}

.inforCard {
  text-align: left;
  font-size: 12px;
  color: rgb(75, 73, 73);
  padding: 5px 10px 5px 50px;
  display: flex;
}

.inforCard img {
  height: 20px;
}

.inforCard div {
  padding: 3px 3px 3px 8px;
}
