*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.mainDivSection {
    /* border: 2px solid green; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 10px;
}
.imageSection {
    /* border: 2px solid Purple; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 80%;
}
.imgBox {
    /* border: 2px dashed blue; */
    margin: auto;
    margin: 5%;
    margin-right: 10%;
    margin-left: 10%;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}
.imgTag  {
    /* border: 2px solid red; */
    width: 30%;
    margin: 5px;
}
.frontImage {
    width: 130%;
    margin-top: 30%;
    margin-left: -30%;
}
.detailsSection {
    /* border: 2px solid red; */
    padding: 20px;
    width: 90%;
}
.detailsProductRating {
    margin-top: 15px;
}
.detailsProductName {
    margin-top: 20px;
    font-size: x-large;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.detailsProductBrand {
    margin-top: 10px;
    font-size: x-large;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}
.detailsProductPrice {
    margin-top: 10px;
    font-size: x-large;
    font-weight: bolder;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: red;
}
.detailsProductDiscount {
    margin-top: -10px;
    color: red;
}
.detailsProductMrp {
    margin-top: -5px;
    font-size: large;
    font-weight: 400;
}
.detailsProductDiscription {
    margin-top: 10px;
}
.selectDiv {
    margin-top: 25px;
    width: 80%;
    font-size: x-large;
    border: 1px solid gray;
    border-radius: 5px;
}
.detailsProductSize, .detailsProductColor {
    font-size: large;
    font-weight: bolder;
}
.colorInCircle {
    border-radius: 50%;
    background-color: red;
}
.loadingBtn {
    width: 80%;
    margin-top: 7%;
    color: black;
    font-size: large;
}

/* reviewSection */
.reviewMainSection {
    /* border: 2px solid black; */
    padding: 10px;
}
.reviewBox {
    /* border: 2px solid black; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 20px;
    margin: 10px;
}
.reviewBoxPart1 {
    /* border: 2px solid black; */
    padding: 10px;
    padding-right: 30px;
}

.paraDiscription {
    margin-top: 20px;
}
.headNameFree {
    margin-top: 20px;
    font-size: large;
    font-weight: bolder;
}
.headNameFreenew {
    margin-top: 5px;
}
.paraDiscriptionBtm {
    margin-bottom: 20px;
}
.shipingName {
    font-size: small;
    font-weight: bolder;
    margin-top: 15px;
}
.wishlist {
    margin-top: 10px;
    text-decoration: underline;
    font-size: small;
    font-weight: bolder;
}




@media screen and (min-width: 768px) and (max-width: 979px) {
    .mainDivSection {
        grid-template-columns: repeat(2, 1fr);
    }
    .reviewBox {
        grid-template-columns: repeat(2, 1fr);
    }
}


@media screen   and (min-width: 0px) and (max-width: 767px) {
    .mainDivSection {
        grid-template-columns: repeat(1, 1fr);
    }
    .reviewBox {
        grid-template-columns: repeat(1, 1fr);
    }
    .frontImage {
        width: 100%;
    }
    .imageSection {
        width: 100%;
    }
    .imgBox {
        grid-template-columns: repeat(2, 1fr);
    }
}