*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.mainDivSection {
    width: 100%;
    height: 100%;
    padding: 10px;
    border: 2px solid green;
}
.mainImgDiv {
    border: 2px solid blue;
}

.detailsSection {
    border: 2px solid red;
    width: 50%;
    height: 100%;
    padding: 20px;
}